<!DOCTYPE html>
<html>
  <head>
    <title>CanvasPoll</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= link_to root_path, class: "btn button-color" do %>
      <i class="glyphicon glyphicon-home"></i>
    <% end %>
    
    <%= yield %>
  </body>
</html>
